.first-render {
    text-align: center;
    margin: 20px;
}

.country-detail {
    margin: 20px auto;
}

.country-detail > .detail {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.error-render {
    color: red;
    text-align: center;
    margin: 20px;
}

@media only screen and (max-width: 1140px) {
    .country-detail > .detail {
        display: block;
    }
}




